
    
    *{
        margin: 0px;
        padding:0px;
        
    }
    
    
    
    
    .navbar{
    
        display: flex;
        align-items: centre;
        justify-content: center;
        position: sticky;
        top:0;
        cursor: pointer;
        
    }
    .nav-list{
        width: 50%;
        
        display:flex;
        align-items: center;
        
        
    }
    
    
    .nav-list li{
               list-style: none;
               
               padding: 26px 30px;
               
    }
    .nav-list li a{
        text-decoration: none;
        color:white;
    
    }
    .nav-list li a:hover{
        text-decoration: underline;
        color:grey;
    
    }
    
    .rightnav{
        
        width: 50%;
        
        
        text-align: right;
    }
    .logo{
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    
        
    }
    .logo img{
        width:50%;
    }
    
    
    #search{
        padding: 5px;
        border:2px solid grey;
    }
    .background{
        background: rgba(0,0,0,0.7) url("mypic.jpg");
        background-size: cover;
        background-blend-mode: darken;
    }
    .bbackground{
        background: rgba(0,0,0,0.7) url("watch.jpg");
        background-size: cover;
        background-blend-mode: darken;
    }
    .box-main{
        justify-content: centre;
        align-items: center;
        display: flex;
        color: white;
    }
    .firstsection{
        height: 100vh;
        
    
    }
    .firsthalf{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 30px;
        margin:40px;
        align-items: center;
        justify-content: center;
    
        
    }
     .firsthalf p{
          margin: 30px;
     }
    .buttons{
    
        margin:50px;
    }
    .firsthalf img{
        width:20%;
        border:2px solid white;
        border-radius: 200px;
        display:block;
        margin:auto;
    }
    .btn{
    
        padding: 8px 20px;
        margin: 7px 0px;
        border: 2pxsolid white;
        border-radius: 8px;
        background: none;
        color:white;
    
    }
    
    .tb{
         font-size: 50px;
    }
    
    .categories{
        margin: 0px 0px;
        background-color: rgb(8, 8, 8);
    }
    
    .row{
        display: flex;
        
        width:100%;
        align-items: centre;
        justify-content: center;
        
    }
    .col-1{
        flex-basis: 30%;
        min-width: 250px;
        margin-bottom: 30px;
        padding: 30px 30px;
    }
    .col-1 img{
        width:100%;
        height:300px;
        
    }
    .smallcon{
        max-width: 1080px;
        
        margin: auto;
        padding:50px 50px;
    
    }
    .txt1{
        color:white;
        text-align: center;
        
    }
    .addcart{
        color:white;
        text-align: center;
        

    }
    .cart a{
        background-color: royalblue;
        color: #fff;
        cursor: pointer;
        text-decoration: none;
    }
        
