<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <title>CLOTH ONLINE</title>
    
</head>
<body>

    <nav class="navbar bbackground">
        <ul class="nav-list ">
            <div class="logo"><img src="watch.jpg" alt="logo"></div>
            <li><a href='/home'>HOME</a></li>
            <li><a href='/about'>ABOUT</a></li>
            <li><a href='/sign'>SIGN IN</a></li>
            <li><a href='/contact'>CONTACT</a></li>



        </ul>
       <div class="rightnav">
            <input type="text name="search" id="search">
            <button class="btn btn-sm">search</button>
        </div>
    </nav>
    
                 <section>

               <div class="ab">
                   <h3>This is a website for latest collect of indian and western female dresses</h3>
                   <h3>We have clothes for all age group of females</h3>

               </div>
               <div class="ab">
                   <h2>Here are some samples:</h2>
               </div>
                 </section>


             
            

    
    
    <style>
        *{
            margin: 0px;
            padding:0px;
            
        }
        
        
        
        
        .navbar{
        
            display: flex;
            align-items: centre;
            justify-content: center;
            position: sticky;
            top:0;
            cursor: pointer;
            
        }
        .nav-list{
            width: 50%;
            
            display:flex;
            align-items: center;
            
            
        }
        
        
        .nav-list li{
                   list-style: none;
                   
                   padding: 26px 30px;
                   
        }
        .nav-list li a{
            text-decoration: none;
            color:white;
        
        }
        .nav-list li a:hover {
            text-decoration: underline;
            color:grey;
        
        }
        
        .nav-list li a:active {
            text-decoration: underline;
            color:grey;
        
        }
        
        .rightnav{
            
            width: 50%;
            
            
            text-align: right;
        }
        .logo{
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
        
            
        }
        .logo img{
            width:50%;
        }
        
        
        #search{
            padding: 5px;
            border:2px solid grey;
        }
        .background{
            background: rgba(0,0,0,0.7) url("mypic.jpg");
            background-size: cover;
            background-blend-mode: darken;
        }
        .bbackground{
            background: rgba(0,0,0,0.7) url("watch.jpg");
            background-size: cover;
            background-blend-mode: darken;
        }
        
       .ab{
              padding: 30px;
       }

           
        
        
            
        </style>

</body>
</html>